
<table class="table table-bordered table-striped">  
    <thead>  
        <tr class="text-center text-uppercase">  
            <th>Id</th>  
            <th>Id Personnage</th>
            <th>Difficulte</th>  
            <th>Salle Actuelle</th>  
          </tr>  
    </thead>  
    <tbody>  
        <tr>  <!-- *ngFor="let g of game"-->
            <td>{{ game.id }}</td>  
            <td>{{ game.id_personnage }}</td> 
            <td>{{ game.difficulte }}</td>  
            <td>{{ game.salle_actuelle }}</td>  
        </tr>  
      </tbody>  
    </table>  


